<% content_for :title do %>
  Sistema de Estatus
<% end %>

<% content_for :layout do %>
    <!--begin::Row-->
    <div class="row g-5 g-xl-8">
      <%= render 'partials/pages/dashboards/client_profile' %>
    </div>
  <!--end::Row-->

  <!--begin::Row-->
    <div class="row g-5 g-xl-8">
      <%= render 'partials/pages/dashboards/rankings' %>
    </div>
  <!--end::Row-->

  <!--begin::Row-->
    <div class="row g-5 g-xl-8">
      <%= render 'partials/pages/dashboards/graphs' %>
    </div>
  <!--end::Row-->
<% end %>

<%# Choose the layout. See app/views/layout/metronic/demo1/_bootstrap/default.rb %>
<%# <%= render template: "#{Rails.configuration.settings.KT_THEME_LAYOUT_DIR}/default_header_layout" %>
<%= render template: "#{Rails.configuration.settings.KT_THEME_LAYOUT_DIR}/default" %>
